@import url(reset.css);

/* Farben */
:root{
    --primary-color: #282d4e;
    --secondary-color: #545C8F;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #282d4e;
    box-sizing: border-box;
}
#settings {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}
#settings-button{
    background-color: #545C8F;
    font-size: 14px;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.flag-size {
    width: 50px;
    border-radius: 5px;
}
#bannerlogo {
    display: flex;
    justify-content: center;

}
#bannerlogo img {
    width: 80%;
    height: 200px;
    margin-top: -40px;
}
.font-normal {
    font-size: 16px;
    color: white;
}
.font-bold {
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
}
#fast-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
.gameImg {
    min-width: 250px;
    object-fit: cover;
    position: relative;
    z-index: -1;
    border-radius: 20px;
}
.game{
    position: relative;
    display: flex;
    align-items: flex-end;
    
}
.button {
    background-color: #545C8F;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
}
.game div p {
    color: white;
}
.game div h3 {
    color: white;
    font-size: 32px;
    padding: 10px 0px;
}
.game div{
    position: absolute;
    display: flex;
    z-index: 3;
    flex-direction: column;
    padding: 5%;
}
footer{
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    padding: 20px 0;
}
footer div{
    display: flex;
    justify-content: center;
}
.icon{
    width: 32px;
    filter: invert(1);
    margin: 10px;
}
footer div p, a{
    color: rgb(196, 196, 196);
    text-decoration: none;
    margin: 2px;
}
.footer-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#all-games{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
.hidden {
    display: none;
}
#languageMenu {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    align-items: center;
    top: 0px;
    z-index: 5;
}
.languageList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #545C8F;
    width: 50%;
    margin-top: 50px;
    margin-left: 20px;
    height: auto;
    border-radius: 20px;

}
.opinion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.opinion img {
    margin: 5px;
}
.opinion h3 {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/* playerSelection CSS */

.back-arrow{
    width: 50px;
    filter: invert(1);
}
#player-selection{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
.edit-player{
    background: #545c8f;
    min-width: 48px;
    min-height: 48px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 40px;
}
.pen-icon{
    width: 20px;
    filter: invert(1);
}
.player-name{
    width: 75%;
    height: 24px;
    border: none;
    color: white;
    background: none;
    outline: none;
    border-bottom: 1px solid rgb(142, 142, 142);;
    font-size: 18px;
    margin-left: 10px;
}
.player{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 10px 0;
}
.add-player{
    min-width: 48px;
    min-height: 48px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.add-player-icon{
    width: 40px;
    height: 40px;
    filter: invert(1);
}
.add-player-text{
    width: 75%;
    height: 24px;
    border: none;
    color: rgb(142, 142, 142);
    background: none;
    font-size: 18px;
    margin-left: 10px;
}
#startGame{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}

#startGame-button{
    background-color: #545C8F;
    font-size: 18px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}
